.sign-in {
  width: 420px;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 800px) {
    width: 100%;
    margin-bottom: 2rem;
  }

  .title {
    margin: 10px 0;
  }

  .buttons {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 800px) {
      flex-direction: column;
      gap: 10px;
    }
  }

  .eyes {
    position: absolute;
    cursor: pointer;
    font-size: 20px;
    top: 10px;
    right: 10px;
  }

  .login-test {
    text-align: center;
    margin-top: 40px;
    font-size: 24px;
    color: red;

    @media screen and (max-width: 800px) {
      font-size: 20px;
    }
  }
}
