.collection-page {
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 800px) {
    align-items: center;
  }

  .modal {
    position: fixed;
    left: 46.5vw;
    top: 5vh;
    color: red;
    font-size: 1rem;
    font-weight: bold;
    background-color: black;
    padding: 0.2rem 1rem;
    z-index: 1;

    @media screen and (max-width: 800px) {
      top: 2vh;
      left: 40vw;
    }
  }

  .title {
    font-size: 38px;
    margin: 0 auto 30px;
  }

  .items {
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;

    @media screen and (max-width: 800px) {
      grid-template-columns: 1fr 1fr;
      grid-gap: 25px;
    }

    & .collection-item {
      margin-bottom: 30px;
    }
  }
}
