.sign-up {
  display: flex;
  flex-direction: column;
  width: 380px;

  .eyes {
    position: absolute;
    cursor: pointer;
    font-size: 20px;
    top: 10px;
    right: 10px;
  }

  @media screen and (max-width: 800px) {
    width: 100%;
  }

  .title {
    margin: 10px 0;
  }
}
