.collection-preview {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  .title {
    font-size: 28px;
    margin-bottom: 25px;
    cursor: pointer;
    width: fit-content;
  }

  .preview {
    display: flex;
    justify-content: space-between;
  }

  $breakpoint: 800px;
  @media screen and (max-width: $breakpoint) {
    .preview {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 15px;
    }
  }
}
